{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% dump(tabEvenement) %}
    <main role="main">
        <div class="row text-center">
            <table class="table">
                {% set start = Date.getPremierJour()|date_modify('last monday') %}
                {% for index,numWeek in 1..Date.getWeeks() %}
                    <tr>
                        {% for days in Date.getDays() %}
                            {% set day = start|date_modify("+"~(loop.index0+ index * 7)~" days")|date("d") %}
                            <td>
                                {% if index == 0 %}
                                    <div class="entete">
                                        {{ days }}
                                    </div><br>
                                {% endif %}
                                <a href="#modalJour{{ loop.index0+ index * 7 }}" data-toggle="modal">{{ day }}</a><br>
                                {% if agendaSpe is not empty %}
                                    {% for agenda in AllAgenda %}
                                        {% if agenda.id|number_format == agendaSpe %}
                                            {% set agendaSpe = agenda %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for evenement in agendaSpe.getEvenement %}
                                        {% if Date.getJours[loop.index0+ index * 7] is defined %}
                                            {% if Date.getJours[loop.index0+ index * 7]|date('Y-m-d') >= evenement.dateDeb|date('Y-m-d') and  Date.getJours[loop.index0+ index * 7]|date('Y-m-d') <= evenement.dateFin|date('Y-m-d') %}
                                                <div style="background: {{evenement.couleur}}">
                                                    {{ evenement.libelle }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for agenda in AllAgenda %}                                    
                                        {% for evenement in agenda.getEvenement %}
                                            {% if Date.getJours[loop.index0+ index * 7] is defined %}
                                                {% if Date.getJours[loop.index0+ index * 7]|date('Y-m-d') >= evenement.dateDeb|date('Y-m-d') and  Date.getJours[loop.index0+ index * 7]|date('Y-m-d') <= evenement.dateFin|date('Y-m-d') %}
                                                    <div style="background: {{evenement.couleur}}">
                                                        {{ evenement.libelle }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}


                                <div class="modal fade" id="modalJour{{ loop.index0+ index * 7 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title w-100 font-weight-bold">
                                                    {% if Date.getJours[loop.index0+ index * 7] is defined %}
                                                       {{ Date.days[Date.getJours[loop.index0+ index * 7]|date('l')] }}
                                                       {{ Date.getJours[loop.index0+ index * 7]|date('d') }}
                                                       {{ Date.translate_month[Date.getJours[loop.index0+ index * 7]|date('F')] }}
                                                       {{ Date.getJours[loop.index0+ index * 7]|date('Y') }}
                                                    {% endif %}
                                                </h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body mx-6">
                                                {#{% if agendaSpe is not empty %}
                                                    {% for key,agenda in tabEvenement %}
                                                        {% if key|number_format == agendaSpe %}
                                                            {% set formEventSpe = key %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for formEvent in formEventSpe %}
                                                        {{  form_start(formEvent, {'action': path('modifEvenement',{'id':key}), 'method':'POST'}) }}
                                                        <div class="modal-body mx-6">
                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-calendar-check imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.agenda) }}
                                                                </div>
                                                            </div>
                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-tag imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.libelle) }}
                                                                </div>
                                                            </div>

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                                            <i class=" input-group-text fa fa-calendar imodal"></i>
                                                                        </div>
                                                                        <input type="text" class="form-control datetimepicker-input" name="evenement[dateDeb]" data-target="#datetimepicker1"/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                                                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                                            <i class=" input-group-text fa fa-calendar imodal"></i>
                                                                        </div>
                                                                        <input type="text" class="form-control datetimepicker-input" name="evenement[dateFin]" data-target="#datetimepicker2"/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-sticky-note imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.note) }}
                                                                </div>
                                                            </div>
                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-location-arrow imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.lieux) }}
                                                                </div>
                                                            </div>

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-palette imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.couleur) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer d-flex justify-content-center">
                                                            {{ form_widget(formEvent.send) }}
                                                        </div>
                                                        {{ form_end(formEvent) }}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for key,agenda in tabEvenement %}
                                                        {% for k,formEvent in agenda %}
                                                            {#<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                                {{ AllAgenda[index].getEvenement[k].libelle }}
                                                            </a>
                                                            {{  form_start(formEvent, {'action': path('modifEvenement',{'id':key}), 'method':'POST'}) }}

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-calendar-check imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.agenda) }}
                                                                </div>
                                                            </div>
                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-tag imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.libelle) }}
                                                                </div>
                                                            </div>

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                                            <i class=" input-group-text fa fa-calendar imodal"></i>
                                                                        </div>
                                                                        <input type="text" class="form-control datetimepicker-input" name="evenement[dateDeb]" data-target="#datetimepicker1"/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                                                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                                            <i class=" input-group-text fa fa-calendar imodal"></i>
                                                                        </div>
                                                                        <input type="text" class="form-control datetimepicker-input" name="evenement[dateFin]" data-target="#datetimepicker2"/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-sticky-note imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.note) }}
                                                                </div>
                                                            </div>
                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-location-arrow imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.lieux) }}
                                                                </div>
                                                            </div>

                                                            <div class="md-form mb-6">
                                                                <div class="input-group mb-2 mr-sm-2">
                                                                    <div class="input-group-prepend">
                                                                        <i class="input-group-text fas fa-palette imodal"></i>
                                                                    </div>
                                                                    {{ form_widget(formEvent.couleur) }}
                                                                </div>
                                                            </div>
                                                            {{ form_widget(formEvent.send) }}
                                                            {{ form_end(formEvent) }}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}#}
                                                {#{% for formEvent in tabEvenement[3] %}
                                                    {{ form_start(formEvent) }}
                                                    
                                                    {{ form_widget(formEvent) }}
                                                    
                                                    {{ form_end(formEvent) }}
                                                {% endfor %}#}
                                                
                                            </div>
                                            <div class="modal-footer d-flex justify-content-center">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        {#<div class="row text-center">
            <table class="table">
                {% set start = Date.getPremierJour()|date_modify('last monday') %}
                {% for index,numWeek in 0..Date.getWeeks() %}
                    <tr>
                        {% for key,days in Date.getDays() %}
                            {% set day = start|date_modify("+"~(key+ index * 7)~" days")|date("d") %}
                            <td>
                                {% if index == 0 %}
                                    <div class="entete">{{ days }}</div><br>
                                {% endif %}
                                {{ day }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>#}
    </main>
{% endblock %}
