{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main role="main">
        <div class="row text-center">
            <table class="table">
                {% if agendaSpe is empty %}
                    {% for day in Date.getJours %}
                        {% if (loop.index0 % 7) == 0 %}
                            <tr>
                            {% endif %}
                            <td>
                                {% if loop.index0 < 7 %}
                                    <div class="entete">
                                        {{ Date.days[day|date('l')] }}<br>
                                    </div>
                                {% endif %}
                                {{ day|date('d') }}<br>
                                {% for agenda in AllAgenda %}                                    
                                    {% for evenement in agenda.getEvenement %}
                                        {% if day|date('Y-m-d') >= evenement.dateDeb|date('Y-m-d') and day|date('Y-m-d') <= evenement.dateFin|date('Y-m-d') %}
                                            <div style="background: {{evenement.couleur}}">
                                                {{ evenement.libelle }}<br>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    {% else %}
                        {% for agenda in AllAgenda %}
                            {% if agendaSpe == agenda.id|number_format %}
                                {% set agendaSpe = agenda %}
                            {% endif %}
                        {% endfor %}
                        {% for day in Date.getJours %}
                            {% if (loop.index0 % 7) == 0 %}
                            <tr>
                            {% endif %}
                            <td>
                                {% if loop.index0 < 7 %}
                                    <div class="entete">
                                        {{ Date.days[day|date('l')] }}<br>
                                    </div>
                                {% endif %}
                                {{ day|date('d') }}<br>
                                {% for evenement in agendaSpe.getEvenement %}
                                    {% if day|date('Y-m-d') >= evenement.dateDeb|date('Y-m-d') and day|date('Y-m-d') <= evenement.dateFin|date('Y-m-d') %}
                                        <div style="background: {{evenement.couleur}}">
                                            {{ evenement.libelle }}<br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    {% endif %}
            </table>

            <table style="">
                <tr>
                    {% for day in Date.getJours %} 
                        <th>{{ day|date('d') }}</th>
                        {% endfor %}
                </tr>
                <tr>
                {% set oldevent = "" %}
                {% for day in Date.getJours %}                        
                    {% for agenda in AllAgenda %}
                        {% for evenement in agenda.getEvenement %}
                            {% if day|date('Y-m-d') >= evenement.dateDeb|date('Y-m-d') and day|date('Y-m-d') <= evenement.dateFin|date('Y-m-d') %}
                                {% if oldevent != evenement.id%}
                                    <tr>
                                    {% endif %}
                                    <td style="background: {{evenement.couleur}}">{{evenement.libelle}}</td>
                                    {% set oldevent = evenement.id %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
            </table>
        </div>
    </main>
{% endblock %}
